<ion-header>
  <ion-toolbar>
    <ion-title>Crear Ride</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="ride">
    <ion-item color="dark">
      <ion-label>Título de la Rodada</ion-label>
      <ion-input [(ngModel)]="ride.title"></ion-input>
    </ion-item>
    <ion-item color="dark">
      <ion-label>Fecha de la Salida</ion-label>
      <ion-datetime [(ngModel)]="ride.start" displayFormat="D MMM YYYY H:mm" min="2020" max="2024"></ion-datetime>
    </ion-item>
  </ion-list>
  <ion-button (click)="save()" expand="block" class="ion-activable" color="secondary">
    Guardar
  </ion-button>
</ion-content>
